@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: 'Lato';
    text-align: center;
    background-color: black;
    color: white;
    position: relative;
}

.page {
    padding: 70px 0;
}

h1 {
    font-weight: 900;
    font-size: xxx-large;
}

h2 {
    margin-top: -25px;
    font-weight: 300;
    font-size: large;
    color: pink;
}

.pfp {
    width: 250px;
}

.link-tree {
    display: flex;
    flex-flow: column;
    margin: auto;
    
    align-items: center;
    
    position: absolute;
    left: 0;
    right: 0;
}

.link-button {
    background-color: #654C7D45;
    text-decoration: none;
    color:white;

    width: 500px;

    padding: 20px 0;

    margin-top: 10px;
    margin-bottom: 10px;

    border-radius: 3px;

    position: relative;
}

.link-button:hover {
    animation-name: button-pop;
    animation-duration: 150ms;
    animation-fill-mode: both;
}

@keyframes button-pop {
    to {
        font-size: x-large;

        width: 550px;

        padding-top: 20px;
        padding-bottom: 20px;

        margin-top: 5px;
        margin-bottom: 5px;
    }
}

